
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --playerOneColor: #121f31;
    --playerTwoColor: #154e94;
    --textColor: #e4eda3;
    --correctColor: #4baf3d;
    --incorrecColor: #d1442b;
    --buttonColor: #5e5d5d; 
}

.none {
    display: none;
}

.errorMessageCorrect {
    background-color: var(--correctColor);
    font-size: 16px;
    padding-left: 15px;
}

.errorMessageIncorrect {
    background-color: var(--incorrecColor);
    font-size: 16px;
    padding-left: 15px;
} 

#container {
    width: 100vw;
    height: 100vh;
}

#formWelcome {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-25%);
    width: 70%;
    max-width: 500px;
}

#formWelcome form fieldset {
    display: grid;
    grid-template-rows: minmax(50px, 0.25fr) minmax(100px, 1fr) minmax(50px, 0.25fr);
    border: none;
    font-size: 22px;
    background-color: var(--textColor); 
}

#formWelcome form fieldset div#formTitle {
    text-align: center;
    align-self: center;
    color: var(--playerOneColor);
    padding: 10px;
}

#formWelcome form fieldset div#playerDetails {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#formWelcome form fieldset div#playerDetails input {
    border: none;
    border-bottom: 2px solid var(--playerOneColor);
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-size: 18px;
}

#formWelcome form fieldset div#playerDetails input:focus {
    outline: none;
}

#formWelcome form fieldset div#playerDetails div.playerDetails1 {
    background-color: var(--playerOneColor);
    color:var(--textColor);
    display: flex;
    flex-direction: column;
}

#formWelcome form fieldset div#playerDetails div.playerDetails1Aux1{
    margin-bottom: 20px;
}

#formWelcome form fieldset div#playerDetails div.playerDetails1Aux1 label {
    margin-left: 20px;
}

#formWelcome form fieldset div#playerDetails div.playerDetails1Aux2 label {
    margin-left: 35px;
    margin-right: 15px;
    padding-right: 5px;
}

#formWelcome form fieldset div#playerDetails div.playerDetails1Aux2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#formWelcome form fieldset div#playerDetails div.playerDetails2 {
    margin-bottom: 10px;
    background-color: var(--playerTwoColor);
    display: flex;
    flex-direction: column;
    color:var(--textColor)
}

#formWelcome form fieldset div#playerDetails div.playerDetails2Aux1{
    margin-bottom: 10px;
}

#formWelcome form fieldset div#playerDetails div.playerDetails2Aux2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#formWelcome form fieldset div#playerDetails div.playerDetails2Aux1 label {
    margin-left: 20px;
}

#formWelcome form fieldset div#playerDetails div.playerDetails2Aux2 label {
    margin-left: 35px;
    margin-right: 15px;
    padding-right: 5px;
}

#formWelcome form fieldset div#playerDetailsButton button.enter:hover {
    background-color: var(--correctColor);
    color:var(--textColor);
}

#formWelcome form fieldset div#playerDetailsButton button.cancel:hover {
    background-color: var(--incorrecColor);
    color: var(--textColor);
}

#formWelcome form fieldset div#playerDetailsButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10x;
    margin-bottom: 10px;
    gap: 30px;
}

#formWelcome form fieldset div#playerDetailsButton button {
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid var(--playerOneColor);
    background-color: var(--buttonColor);
    color: var(--textColor);
    font-weight: bolder;
    padding: 15px 30px;
    font-size: 20px;
}

#leaderboard{
    display: none;
    flex-direction: row;
    color: var(--textColor);
    font-size: 26px;
}

.playerOne {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: var(--playerOneColor);
    padding: 30px;
}

.playerTwo {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--playerTwoColor);
    padding: 30px;
}

.playerName {
    font-size: larger;
    font-weight: bolder;
}

.playerOne .result {
    padding-left: 15px;
    padding-right: 15px;
}

.playerTwo .result {
    padding-left: 15px;
    padding-right: 15px;
}

.result {
    font-size: 30px;
    font-weight: bolder;
}

#gameboard {
    display: none;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    margin-bottom: 70px;
    gap: 5px;
}

#gameboard button.cel {
    background-color: var(--textColor);
    border: 2px solid black;
    height: 120px;
    font-size: 48px;
}

#buttons {
    position: absolute;
    bottom: 0;
    background-color: var(--buttonColor);
    width: 100vw;
    height: 12vh;
    justify-content: center;
}

#buttons div.buttonsAux {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#buttons div.buttonsAux button {
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    text-transform: uppercase;
    background-color: var(--textColor);
}

#buttons div.buttonsAux button:hover {
    background-color: var(--playerOneColor);
    color: var(--textColor);
}

.buttons-disabled {
    pointer-events: none;
    opacity: 0.2;
}


