
/* FORMATAÇÕES GERAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --playerOneColor: #121f31;
    --playerTwoColor: #154e94;
    --textColor: #e4eda3;
    --correctColor: #4baf3d;
    --incorrectColor: #d1442b;
    --buttonColor: #5e5d5d; 
}

#container {
    width: 100vw;
    height: 100vh;
}

/* CLASSES UNIVERSAIS */

.none {
    display: none;
}

.errorMessageCorrect {
    background-color: var(--correctColor);
    font-size: 16px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.errorMessageIncorrect {
    background-color: var(--incorrectColor);
    font-size: 16px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
} 

/* FORMATAÇÃO FORMULÁRIO DE ENTRADA */

#formWelcome {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-25%);
    width: 90%;
    max-width: 450px;
}

#formWelcome form fieldset {
    display: grid;
    grid-template-rows: minmax(75px, 0.25fr) minmax(125px, 1fr) minmax(75px, 0.25fr);
    border: none;
    font-size: 26px;
    background-color: var(--textColor); 
}

#formWelcome form fieldset div#formTitle {
    text-align: center;
    align-self: center;
    color: var(--playerOneColor);
    padding: 10px;
    font-weight: bolder;
}

#formWelcome form fieldset div#playerDetails {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#formWelcome form fieldset div#playerDetails input {
    border: none;
    border-bottom: 2px solid var(--playerOneColor);
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 22px;
    width: 92%;
}

#formWelcome form fieldset div#playerDetails input:focus {
    outline: none;
}

#formWelcome form fieldset div#playerDetails div.playerDetails1 {
    padding-right: 10px;
    padding-left: 10px;
    background-color: var(--playerOneColor);
    color:var(--textColor);
    display: grid;
    grid-template-columns: 4fr 0.5fr;
    align-items:center;
}

#formWelcome form fieldset div#playerDetails div.playerDetails2 {
    padding-right: 10px;
    padding-left: 10px;
    background-color: var(--playerTwoColor);
    color:var(--textColor);
    display: grid;
    grid-template-columns: 4fr 0.5fr;
    align-items:center;
}

#formWelcome form fieldset div#playerDetails div.playerDetails1 select {
    padding: 2px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: var(--playerOneColor);
    height: 34px;
    border-radius: 10px;
}

#formWelcome form fieldset div#playerDetails div.playerDetails2 select {
    padding: 2px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: var(--playerTwoColor);
    height: 34px;
    border-radius: 10px;
}

#formWelcome form fieldset div#playerDetails div.playerDetails1Aux1{
    margin-bottom: 20px;
}

#formWelcome form fieldset div#playerDetails div.playerDetails1Aux1 div#regexMessagePlayer1{
    width: 92%;
}

#formWelcome form fieldset div#playerDetails div.playerDetails1Aux2{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#formWelcome form fieldset div#playerDetails div.playerDetails2Aux1{
    margin-bottom: 20px;
}

#formWelcome form fieldset div#playerDetails div.playerDetails2Aux1 div#regexMessagePlayer2{
    width: 92%;
}

#formWelcome form fieldset div#playerDetails div.playerDetails2Aux2{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#formWelcome form fieldset div#playerDetailsButton button.enter:hover{
    background-color: var(--correctColor);
    color:var(--textColor);
}

#formWelcome form fieldset div#playerDetailsButton button.cancel:hover{
    background-color: var(--incorrectColor);
    color: var(--textColor);
}

#formWelcome form fieldset div#playerDetailsButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10x;
    margin-bottom: 10px;
    gap: 30px;
}

#formWelcome form fieldset div#playerDetailsButton button{
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid var(--playerOneColor);
    background-color: var(--buttonColor);
    color: var(--textColor);
    font-weight: bolder;
    padding: 10px 20px;
    font-size: 20px;
}

/* GAMEBOARD */

#gameboard {
   display: none;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    width: 90%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    margin-bottom: 70px;
    gap: 5px;
}

#gameboard button.cel {
    background-color: var(--textColor);
    border: 2px solid black;
    height: 120px;
    font-size: 48px;
}


/*



































#leaderboard{
    display: none;
    flex-direction: row;
    color: var(--textColor);
    font-size: 26px;
}

.playerOne {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: var(--playerOneColor);
    padding: 30px;
}

.playerTwo {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--playerTwoColor);
    padding: 30px;
}

.playerName {
    font-size: larger;
    font-weight: bolder;
}

.playerOne .result {
    padding-left: 15px;
    padding-right: 15px;
}

.playerTwo .result {
    padding-left: 15px;
    padding-right: 15px;
}

.result {
    font-size: 30px;
    font-weight: bolder;
}





#buttons {
    position: absolute;
    bottom: 0;
    background-color: var(--buttonColor);
    width: 100vw;
    height: 12vh;
    justify-content: center;
}

#buttons div.buttonsAux {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#buttons div.buttonsAux button {
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    text-transform: uppercase;
    background-color: var(--textColor);
}

#buttons div.buttonsAux button:hover {
    background-color: var(--playerOneColor);
    color: var(--textColor);
}

.buttons-disabled {
    pointer-events: none;
    opacity: 0.2;
}


