
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --playerOneColor: #121f31;
    --playerTwoColor: #154e94;
    --textColor: #e4eda3
}

.none {
    display: none;
}

#container {
    display: grid;
    grid-template-rows: 0.25fr 3fr;
    width: 100vw;
    height: 100vh;
}

#formWelcome {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,50%);
}

#formWelcome form fieldset {
    height: 100%;
    border: none;
    font-size: 18px;
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    background-color: var(--textColor); 
}

#formWelcome form fieldset div#formTitle {
    color: var(--playerOneColor);
    text-align: center;
    align-self: center;
}

#formWelcome form fieldset div#userDetails {
    color: var(--playerTwoColor);
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#formWelcome form fieldset div#userDetails input {
    border: none;
    border-bottom: 2px solid var(--playerOneColor);
}

#formWelcome form fieldset div#userDetails input:focus {
    outline: none;
}

#formWelcome form fieldset div#userDetails div.userDetailsPlayer1 {
    margin-bottom: 30px;
}

#formWelcome form fieldset div#userDetails div.userDetailsPlayer2 {
    margin-bottom: 10px;
}

#formWelcome form fieldset div#userDetailsSubmit button:hover {
    background-color: var(--playerTwoColor);
}

#formWelcome form fieldset div#userDetailsSubmit{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#formWelcome form fieldset div#userDetailsSubmit button {
    border-radius: 15px;
    background-color: var(--playerOneColor);
    border: none;
    border-bottom: 2px solid var(--playerOneColor);
    color: var(--textColor);
    font-weight: bolder;
    height: min(7vh, 40px);
    width: min(12vw, 120px);
}

#formWelcome form fieldset div#userDetailsSubmit button#enter {
    margin-right: 35px;
} 

#leaderboard{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    color: var(--textColor)
}

.playerOne {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: var(--playerOneColor);
}

.playerTwo {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: var(--playerTwoColor);
}

.playerTwo .playerName {
    padding-left: 20px;
}

.playerName {
    font-size: larger;
    font-weight: bolder;

}

.playerOne .result {
    padding-left: 15px;
    padding-right: 15px;
}

.playerTwo .result {
    padding-left: 15px;
    padding-right: 15px;
}

.result {
    font-size: larger;
    font-weight: bolder;
}


#gameBoard {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    gap: 5x;
    
}

#gameBoard div.cel {
    background-color: var(--textColor);
    border: 2px solid black;
}

